* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    font-family: "Open Sans Regular", sans-serif;
}

.wrapper {
    margin: auto;
    width: 1062px;
    height: auto;
    border: 1px solid #f9f9f9;
    overflow: hidden;
    padding: 0px 40px;
    box-shadow: 0px 5px 5px 0px rgba(138, 135, 138, 1);
    background-color: #ffffff;
}

.logo {
    float: left;
    margin-top: 50px;
    margin-bottom: 10px;
}

.menu_line {
    display: block;
    margin-top: 130px;
    /*margin-left: 2px;*/
    max-height: 130px;
    /*  background-color: #4f4f4f;*/
    background: -moz-linear-gradient(top, #444343 0%, #5e5e5e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #444343 0%, #5e5e5e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, #444343 0%, #5e5e5e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444343', endColorstr='#5e5e5e', GradientType=0);
    /* IE6-9 */
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.hm2 li {
    display: inline-block;
}

.hm2 li a:hover {
    background-color: #3f3f3f;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    /*border-bottom: 2px solid #3f3f3f;*/
}

.hm2 li a {
    display: block;
    float: left;
    padding: 10px 60px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-shadow: #a8a7a7 1px 0px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.main {
    margin-top: 40px;
    margin-left: 0px;
}

.menu_list {
    float: left;
    width: 240px;
    height: 240px;
}

.menu_list ul {
    /*border: solid 1px #c8c8c8;*/
}

.menu_list ul li {
    list-style-type: none;
    border-top: solid 1px #c8c8c8;
    border-left: solid 1px #c8c8c8;
    border-right: solid 1px #c8c8c8;
    border-bottom: solid 1px transparent;
}

.menu_list ul li:last-child {
    border-bottom: solid 1px #c8c8c8;
}

.menu_list li a {
    display: block;
    /*border: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;*/
    text-decoration: none;
    padding: 10px;
    color: #656363;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: black;
    /*border-bottom: 1px solid #e1e1e1;*/
}

.menu_list li a:hover {
    background-color: #f9f9f9;
    /*border-bottom: 1px solid ##a8a7a7;*/
    padding-left: 30px;
}

.image {
    display: table-cell;
    float: right;
    right: 15px;
    border: solid 1px #c8c8c8;
    width: 679px;
    height: 399px;
    padding: 40px;
}

.bike {
    padding: 45px 80px;
}

.text {
    margin-top: 40px;
    margin-left: 357px;
    float: right;
    display: table-cell;
    font-size: 14px;
}

.menu_low {
    display: inline-block;
    width: 100%;
    background-color: #e1e1e1;
    margin-top: 40px;
    margin-bottom: 60px;
}

.menu_low li {
    float: left;
    list-style: none;
    color: black;
    margin: 0 70px 0 0;
    text-decoration: none;
    padding: 12px 25px;
}

.menu_low li a:hover {
    background-color: #e1e1e1;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

span {
    float: right;
    padding: 12px 25px;
}

text-decoration: underline;

}
a {
    text-decoration: none;
    color: black;
}
span {
    float: right;
    padding: 12px 25px;
}

}
