* {
    margin: 0;
    padding: 0;
}

.logo {
    display: block;
    float: left;
    margin-top: -80px;
    margin-left: 50px;
}

.menu_line {
    display: block;
    margin-top: 130px;
    margin-left: 50px;
    /*  background-color: #4f4f4f;*/
    background: linear-gradient(to top, #b5bdc8 0%, #4f4f4f 0%, #494848 60%);
    height: 54px;
    width: 964px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.hm2 li {
    display: inline-block;
}

.hm2 li a {
    display: block;
    float: left;
    padding: 20px 66px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-shadow: #a8a7a7 1px 0px;
}

.hm2 li a:hover {
    background-color: #3f3f3f;
    border-bottom: 2px solid ##a8a7a7;
}

.menu_list {
    margin-top: 40px;
    margin-left: 50px;
    width: 240px;
    height: 240px;
}


/*.menu_list>ul {
    border: solid 1px #c8c8c8;
}*/

.menu_list ul li {
    border-bottom: solid 1px #c8c8c8;
}

.menu_list li:last-child {
    border-bottom: 0;
    border-collapse: collapse;
}

.menu_list li a {
    display: block;
    border: solid 1px #c8c8c8;
    border-collapse: collapse;
    padding: 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: black;
}

.menu_list li a:hover {
    background-color: #f9f9f9;
    border-bottom: 2px solid ##a8a7a7;
    border-collapse: collapse;
}

.image {
    display: block;
    margin-top: -240px;
    margin-left: 332px;
    border: solid 1px #c8c8c8;
    width: 600px;
    height: 307px;
    padding: 40px;
}

.text {
    margin-top: 40px;
    margin-left: 357px;
    width: 580px;
}

.menu_low {
    margin-top: 80px;
    margin-left: 50px;
    height: 54px;
    width: 964px;
    background-color: #e1e1e1;
    min-width: 100%;
}

.menu_low li {
    display: inline-block;
}

.menu_low>li>a {
    text-decoration: none;
    font-size: 13px;
    color: #2c2c2c;
    /*text-align: justify;*/
    margin-top: 15px;
    padding: 100px 66px;
}

span {
    float: right;
}

footer {
    width: 964px;
}
