* {
    margin: 0;
    padding: 0
}

body {
    background: linear-gradient(to bottom, #138aa8 0%, #138aa8 2%, #118ba3 2%, #1688ac 2%, #108baa 3%, #138aa2 3%, #5deeff 3%, #13cee1 3%, #12cce5 3%, #11cee1 3%, #14cee3 3%, #29d3e4 5%, #31d4e7 5%, #33d5e4 6%, #4ad9e9 7%, #4edae9 7%, #80e5ef 10%, #8de7f0 10%, #cdf4f9 13%, #cdf5f7 13%, #daf8fa 14%, #dcf8fb 14%, #e4f9fc 15%, #eefcfd 17.5%, #f2fcfe 17.5%, #f8fefe 17.5%, #fbfcff 17.5%, #fafffc 17.5%, #feffff 17.5%, #fbffff 17.5%, #fffdfa 17.5%, #fffeff 17.5%, #3fc7d3 17.5%, #41c5d2 18%, #39bcce 20%, #30b3c7 23%, #23a5bd 26%, #23a5bf 26%, #1d9fb9 27%, #1d9ebb 28%, #1596b3 30%, #1091b1 32%, #0f8aac 53%, #0e82a7 63%, #0e79a3 84%, #0b76a0 88%, #0c739e 100%);
    min-height: 100vh
}

.main_wrapper {
    margin: auto;
    width: 1000px;
    height: auto;
    box-shadow: 0px -5px 10px 3px rgba(8, 40, 65, 0.3);
    border-bottom: 3px solid black;
}

.header {
    width: 1000px;
    height: 175px;
    background-color: white;
}

.logo {
    padding-left: 25px;
    padding-top: 10px;
}

.social {
    padding-right: 33px;
    padding-top: 10px;
    float: right;
    font-family: Tahoma;
    font-size: 12px;
    text-align: right;
}

.social p {
    color: #128aa7;
}

.menu_pic {
    display: block;
    /*width: 322px;*/
    height: 55px;
    margin-top: 10px;
}

.menu_pic li {
    display: inline-block;
    float: left;
    margin-right: 7px;
    max-width: 48px;
    text-align: center;
}

.menu_pic a {
    font-size: 10px;
    text-decoration: none;
    word-wrap: normal;
    color: #128aa7;
}

.menu_pic a:hover {
    text-decoration: underline;
}

.image {
    max-height: 238px;
    border-bottom: 1px solid #128aa7;
    border-top: 1px solid #128aa7;
    max-width: 1000px;
}

.navigation {
    width: 100%;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    background: linear-gradient(to top, #303030, #373737);
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
    box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 1);
    font-family: Tahoma;
    font-size: 14px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    /*clear: both;*/
    float: none;
}

ul.navigation {
    box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 1);
}

ul.navigation>li {
    float: left;
    position: relative;
    list-style: none;
    margin-left: 60px;
}

ul.navigation>li>a:hover {
    color: #ffffff;
}

ul.navigation>li>a {
    display: block;
    padding: 8px 0px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

ul.navigation>li>a>span {
    font-size: 8px;
    vertical-align: middle;
}

ul.submenu {
    box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 1);
    display: none;
    position: absolute;
    width: 150px;
    top: 31px;
    left: -5px;
    background-color: #303030;
}

ul.submenu>li {
    display: block;
}

ul.submenu>li>a {
    display: block;
    padding: 5px;
    color: white;
    font-size: 14px;
    background-color: #303030;
    text-decoration: none;
}

ul.submenu>li>a:hover {
    text-decoration: underline;
}

ul.navigation>li:hover>ul.submenu {
    display: block;
}

.wrapper {
    display: flex;
    width: 1000px;
    overflow: hidden;
    color: #424c43;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
}

h2 {
    text-align: center;
    font-family: Tahoma;
    font-size: 18px;
    color: #424c43;
}

.box1 {
    background-color: #edeef0;
    width: 21%;
    padding: 10px;
    border: 1px solid #c7cacf;
}

.box2 {
    background-color: #ffffff;
    width: 58%;
    font-size: 30px;
}

.box3 {
    background-color: #edeef0;
    width: 21%;
    padding: 10px;
    border: 1px solid #c7cacf;
}

p {
    font-family: Tahoma;
    font-size: 14px;
    color: #424c43;
    /*line-height: 1.5;*/
    /*padding: 15px;*/
}

.sign {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
}
